/* CSS based on Mark McGranaghan's website https://markmcgranaghan.com */

/* Fonts */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NotoSerif-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/NotoSerif-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/NotoSerif-Italic.ttf) format('truetype');
}

body {
    background-color: #e0d6bf;
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: 400;
}

hr {
  border-top: 1px solid #865634;
}

@media only screen and (max-width: 680px) {
  div#content {
    width: 90%;
    padding: 0 5%;
    font-size: 90%;
  }
}

#content {
  width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 14em;
}

a:visited, a:link {
  color:#8b4513;
}

.link-list {
  line-height: 200%;
}

.page-title {
  margin-top: 1.5em;
}

.exp {
  margin-top: 2em;
}

.exp-date {
  font-style: italic;
  color: #865634;
  font-size: 90%;
}

.exp-title {
  margin-top: -0.4em;
  font-weight: bold;
  font-size: large;
}

.exp-role {
  margin-top: -1em;
  color: #865634;
}

.exp-body {
  margin-top: -0.5em;
}

.exp-body-item {
  margin-left: -1em;
}